body {
    font-family: "Comic Relief", system-ui;
}

.menu-lateral {
    height: 100%;
    width: 300px; 
    position: fixed; 
    z-index: 1;
    top: 0; 
    left: 0;
    background-color: #3E78A6; 
    overflow-x: hidden; 
    transition: 0.5s;
}

  .btn-fechar, .btn-fechar i {
    text-align: end;
    margin: 0 !important;
  }
  
  .menu-lateral a {
    padding: 1rem 2rem;
    text-decoration: none;
    font-size: 30px;
    color: #F2E6CA;
    display: block;
    transition: 0.3s;
  }
  
  .menu-lateral a > i {
    margin-right: 1rem;
  }

  /* When you mouse over the navigation links, change their color */
  .menu-lateral a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .menu-lateral .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  main {
    transition: margin-left .5s;
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the menu-lateral (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .menu-lateral {padding-top: 15px;}
    .menu-lateral a {font-size: 18px;}
  }